body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;   
  -khtml-user-select: none;   
  -moz-user-select: none;      
  -ms-user-select: none;      
  user-select: none;           
}
.hangman-drawing-container {
  position: 'relative';
}
.game-container {
  position: relative;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}
.header-container{
  position: relative;
  z-index: 999;
  font-size: 2rem;
  display: block;
  text-align: center;
  margin-bottom: -5%;
}
.head {
  height: 37.5px;
  width: 37.5px;
  border-radius: 100%;
  position: absolute;
  top: 30px;
  right: -23.5px;
  transition: 0.2s;
}
.body {
  height: 75px;
  width: 7.5px;
  position: absolute;
  top: 80px;
  right: 0;
  transition: 0.2s;
}
.right-hand {
    height: 7.5px;
    width: 75px;
    position: absolute;
    top: 100px;
    right: -75px;
    transform: rotate(-30deg); 
    transform-origin: left bottom; 
    transition: 0.2s;
}
.left-hand {
  height: 7.5px;
  width: 75px;
  position: absolute;
  top: 103px;
  right: 5px;
  transform: rotate(30deg); 
  transform-origin: right bottom; 
  transition: 0.2s;
}
.right-leg {
  height: 7.5px;
  width: 75px;
  position: absolute;
  top: 150px;
  right: -75px;
  transform: rotate(60deg); 
  transform-origin: left top; 
  transition: 0.2s;
}
.left-leg {
  height: 7.5px;
  width: 75px;
  position: absolute;
  top: 210px;
  right: -37.5px;
  transform: rotate(-60deg); 
  transform-origin: left bottom;  
  transition: 0.2s;
}
.word-container {
  display: flex;
  gap: 0.25em;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}
@mixin btn {
  font-size: 1.4rem;
    background-color: transparent;
    color: darken(hsl(200, 100%, 50%), 10%);
    border: none;
    overflow: hidden;
    box-shadow: none;
    cursor: pointer;
    padding: 0.5em 3em;
    position: relative;
    border-radius: 20px;
    margin-left: auto;
  
    &:hover {
      color: white;
    }
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid darken(hsl(200, 100%, 50%), 10%);
      transition: opacity 0.3s, border 0.3s;
      box-sizing: border-box;
      border-radius: 20px;
    }
  
    &:hover::before {
      opacity: 0;
    }
  
    &::after {
      content: "";
      position: absolute;
      top: 50%; 
      left: 50%; 
      width: 130%; 
      height: 135%; 
      background-color: lighten(hsl(200, 100%, 50%), 10%);
      border-color: transparent;
      border-radius: 50px;
      transform: translate(-50%, -50%) scale(0.1); 
      opacity: 0;
      z-index: -1;
      transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
    }
  
    &:hover::after {
      opacity: 1;
      transform-origin: center; 
      transform: translate(-50%, -50%) scale(1); 
    }
    &:active {
      background-color: darken(hsl(200, 100%, 50%), 10%);
    }
  
    &.dark-theme {
      color: darken(rgb(101, 81, 213), 10%);
      &:active {
        background-color: darken(rgb(101, 81, 213), 10%);
      }
      &:hover {
        color: white;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid darken(rgb(101, 81, 213), 10%);
        transition: opacity 0.3s, border 0.3s;
        box-sizing: border-box;
        border-radius: 20px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%; 
        left: 50%;
        width: 130%; 
        height: 135%; 
        background-color: lighten(rgb(101, 81, 213), 10%);
        border-color: transparent;
        border-radius: 50px;
        transform: translate(-50%, -50%) scale(0.1); 
        opacity: 0;
        z-index: -1;
        transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
      }
      &:hover::after {
        opacity: 1;
        transform-origin: center; 
        transform: translate(-50%, -50%) scale(1); 
      }
  
    }
  }
  
.keyboard{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 0.5rem;
}
.key {
  width: 100%;
  border: 2px solid black;
  background: none;
  aspect-ratio: 1/1;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: .3rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
  &:hover:not(:disabled), &:focus:not(:disabled){
      background-color: hsl(200, 100%, 75%);
  }
  &.active {
      background-color: hsl(200, 100%, 50%); 
      color: white;
      cursor:default;
  }
  &.inactive {
      opacity: .3;
      cursor: default;
  }
  &.dark-theme {
      color: rgb(170, 157, 248);
      background-color: #272727;
      transition: 0.2s;
      &:hover:not(:disabled), &:focus:not(:disabled){
          background-color: #3e3e3e;
          transition: 0.2s;
      }
      &.active {
          background-color: rgb(101, 81, 213); 
          color: white;
          cursor:default;
          transition: 0.2s;
      }
      &.inactive {
          opacity: .4;
          cursor: default;
          transition: 0.2s;
      }
  }
}

.slider-container {
  position: fixed;
  top: 25px;
  right: 80px;
}
.reset-btn {
  @include btn;
  margin-right: 0.5em;
  margin-bottom: 0.5em;;
}

.hint-btn {
  @include btn; 
  margin-top: 3%;
}

.main-label + p {
  margin-top: -90px;
}

.main-label {
  font-size: 4rem;
  padding: 1em 0.6em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
  &.dark-theme {
      color: white;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 40.5px;
  &.input {
      opacity: 0;
      width: 0;
      height: 0;
    }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(200, 100%, 50%);
  -webkit-transition: .4s;
  transition: .4s;
  &:before {
      position: absolute;
      content: "";
      height:34px;
      width: 34px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
}


input:checked + .slider {
  background-color: rgb(101, 81, 213);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
  .level-list {
    list-style: none;
    border: 2px solid #3e3e3e;
    max-width: 400px;
    padding: 10px 30px;
    text-align: center;
    z-index: 9999;
    width: 300px;
    margin-top: 7px;
    position: absolute;
    left: 80px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.95);
    transition: 0.2s;
    &::before {
      transform: rotate(45deg);
      content: '';
      width: 23px;
      height: 23px;
      position: absolute; 
      display: block;
      top:-15px;
      left:300px;
      border-top: 2px solid #3e3e3e;
      border-left: 2px solid #3e3e3e;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 1);
      transition: 0.2s;
    }
    &.dark-theme{
      border: 2px solid #000000;
      background-color: rgba(39, 39, 39, 0.95);
      transition: 0.2s;
      &::before {
        border-top: 2px solid rgb(0, 0, 0);
        border-left: 2px solid rgb(0, 0, 0);
        background-color: #272727;
      }
    }

  }
.level-label {
   @include btn;
   padding: 0.5em 2em; 
   margin-right: 0.5em;
   
}
.level-main-container {
  display: flex;
  align-items: center; 
  justify-content: right;
}
li {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: darken(hsl(200, 100%, 50%), 10%);
  padding: auto;
  transition: 0.2s;
  &:hover{
    border-bottom: 2px solid lighten(hsl(200, 100%, 50%), 10%);;
    color: lighten(hsl(200, 100%, 50%), 10%);
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
  }
  &.dark-theme {
    color: lighten(rgb(101, 81, 213), 10%);
    transition: 0.2s;
    &:hover {
      border-bottom: 2px solid rgb(101, 81, 213);
      color: (rgb(146, 131, 232), 10%);
    }
  }
}
.btn-container {
  text-align: center;
  margin-top:-5%;
  
}

@media screen and (min-width: 530px) and (max-width: 646px) {
  .slider-container {
    top: 135px;
    right: 10%;
  }
  .level-list {
    &::before {
      background-color: rgba(255, 255, 255, 0.95);
    }
    &.dark-theme{
      &::before {
        background-color: rgb(39, 39, 39, 0.95);
      }
    }
  }
  .switch {
    width: 64px;
    height: 34px;
  }
  .slider {
    &:before {
        height:28px;
        width: 28px;
        left: 4px;
        bottom: 3px;
      }
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
  }
  
  .slider.round {
    border-radius: 28px;
  }
  .main-label {
    font-size: 3.8rem;
  }
}

@media screen and (min-width:380px) and (max-width: 530px){
  @mixin btn {
    font-size: 1.1rem;
    }
  .key {
    font-size: 1.4rem;
  }
  .level-list {
    max-width: 150px;
    width: 200px;
    left: 130px;
    margin-top: 5px;
    &::before {
      top:-15px;
      left:170px;
    }
  }
  .hangman-drawing-container {
    transform: scale(0.8);  
  }
  .reset-btn {
    @include btn;
  }
  
  .hint-btn {
    @include btn; 
    margin-top: 12%;
  }
  .main-label {
    font-size: 2.55rem;
  }
  .slider-container {
    top: 120px;
    right: 5%;
  }
  .switch {
    width: 64px;
    height: 34px;
  }
  .slider {
    &:before {
        height:28px;
        width: 28px;
        left: 4px;
        bottom: 3px;
      }
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
  }
  
  .slider.round {
    border-radius: 28px;
  }
    
  .level-label {
     @include btn;
     padding: 0.5em 2em; 
     margin-right: 0.5em;    
  }
  li {
    font-size: 1rem;
  }
  .keyboard {
    gap: .2rem;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  }
  .word-container {
    transform: scale(0.7);
  }
  .btn-container{
    margin-top: 3px;
  }
}

@media screen and (max-width: 380px) {
  .btn-container {
    text-align: center;
  }  
  .reset-btn {
    width: 70%;
    margin-bottom: 5%;
    margin-left: -28%;
    font-size: 1.1rem;
  }
  
  .hint-btn { 
    width: 100%;
    margin-top: 8%;
    font-size: 1.1rem;
  }
  .level-label {
    width: 100%;
    margin-bottom: 10%;
    font-size: 1.1rem;    
 }
  
.key {
  font-size: 1.4rem;
}
.hangman-drawing-container {
  transform: scale(0.8);  
}

.main-label {
  font-size: 2.5rem;
}
.slider-container {
  position: absolute;
  top: 60px;
  right: 5%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}
.slider {
  &:before {
      height:28px;
      width: 28px;
      left: 4px;
      bottom: 3px;
    }
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

.slider.round {
  border-radius: 28px;
}
.level-list {
  width: 70vw;
  left: 0px;
  margin-top: -10px;
  &::before {
    top:-15px;
    left:50%;
  }
}
li {
  font-size: 1.2rem;
}
.btn-container {
  text-align: center;
  margin: 0;
}
.keyboard {
  gap: .2rem;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
}
.word-container {
  transform: scale(0.6);
}

}

@media screen and (max-width: 305px){
  .slider-container {
    top: 60px;
    right: 5%;
  }
  .hint-btn{
    margin-top: 12%;
  }
  .level-list {
    left:-5px;
  }
}